version: '3'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "2882:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - mylocal

  app:
    build: .
    container_name: proxydb
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DSN=host=postgres user=${DB_USER} password=${DB_PASSWORD} dbname=${DB_NAME} port=${DB_PORT} sslmode=disable TimeZone=UTC
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - mylocal

networks:
  mylocal:
    driver: bridge

volumes:
  postgres_data: